* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
    padding: 12px 0 2px;
}

.header p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0;
}

.header hr {
    margin-bottom: 18px;
    background-color: #000;
    height: 5px;
}

.form-control {
    max-width: 450px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
}

.form-control div input {
    margin-top: 2px;
    margin-bottom: 22px;
    width: 100%;
    height: 32px;
    outline: none;
}

.form-control div textarea {
    margin-top: 2px;
    margin-bottom: 12px;
    width: 100%;
    outline: none;
}

.form-control button {
    width: 20%;
    height: 38px;
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}